@import 'variables';

.article {

    cursor: pointer;

    &:hover {
        background-color: $primary-emphasis-2;
    }

    img {
        width: 18em;
        border-radius: 3em;
    }
    
}

.detailArticle {
    img {
        width: 30em;
        border-radius: 1em;
    }
}

.textarea {
    resize: none;
}