.forumImage {
    width: 20em;
    border-radius: 2em;
}

.forum {
    cursor: pointer;

    &:hover {
        background-color: $primary-emphasis-2;
    }
}

.post {
    cursor: pointer;

    &:hover {
       background-color: $post_hover !important; 
    }
}

.post_replies {
    &:hover {
        background-color: $post_replies_hover;
    }
}

.create_posts {
    transition: transform 0.3s ease; /* se il mouse si sposta, diminuisce nuovamente lentamente la sua grandezza */
    
    &:hover {
        background-color: $secondary-emphasis !important;
        transform: scale(1.1); /* ingrandisce il pulsante sull'hover */
    }
}

.loadingImage {
    width: 10em;
}

.loading {
    transition: transform 0.2s ease;
    animation: scaleAnimation 1.5s infinite alternate; /* Definisci un'animazione che si ripeta continuamente */

    @keyframes scaleAnimation {
        0% { transform: scale(1); opacity: 0.7; } /* Stato iniziale */
        100% { transform: scale(1.1); opacity: 1; } /* Stato finale */
    }
}

.caricamentoCorpo {
    animation: slideInFromBottom 0.5s ease-in-out forwards;
}
  
@keyframes slideInFromBottom {
    0% {
      opacity: 0;
      transform: translateY(20%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}

textarea {
    resize: none;
}

.welcomeSection {
    animation-name: wavy;
    animation-duration: 2.3s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    position: relative;
    top: 0;
    left: 0;

    @keyframes wavy {
        0% {
          top: 0em;
        }
        50% {
          top: -0.4em;
        }
        100% {
          top: 0em;
        }
      }
}