@import './variables.scss';

.lastGame {

    cursor: pointer;

    &:hover {
        background-color: $primary;
    }

    .btn {
        &:hover {
            background-color: white !important;
            font-weight: 600;
        }
    }

    img {
        width: 40%;
        border-radius: 2em;
    }
}

.allGames {
    
    color: white;
    cursor: pointer;

    .oneGame {
        &:hover {
            background-color: $primary-emphasis-2 !important;
        }
    }

    img {
        width: 20%;
    }
}

//flashcards

.flashcard {
    img {
        width: 15em;
    }

    .flipCard {
        box-shadow: -2px 2px 20px -6px rgba(0,0,0,0.75);
        &:hover {
            box-shadow: -2px 2px 20px -2px rgba(0,0,0,0.75);
        }
    }
    
}