.bg-primary {
    background-color: #e11d3e !important;
}

.bg-secondary {
    background-color: #fdd563 !important;
}

.text-yellow {
    color: rgb(236, 236, 141) !important;
}

.card-body {
    padding: 0;
}