@import 'variables';

.bg-primary {
    background-color: $primary !important;
}

.bg-primary-darker {
    background-color: $primary-darker;
}

.bg-secondary {
    background-color: $secondary !important;
}

.bg-primary-emphasis {
    background-color: $primary-emphasis;
}

.text-secondary {
    color: $secondary !important;
}

.text-primary{
    color: $primary !important;
}

.text-yellow {
    color: $yellow !important;
}

.btn-secondary {
    background-color: $secondary !important;
}

.card-body {
    padding: 0;
}