@import 'variables';

.bg-primary {
    background-color: $primary !important;
}

.bg-primary-darker {
    background-color: $primary-darker;
}

.bg-secondary {
    background-color: $secondary !important;
}

.bg-primary-emphasis {
    background-color: $primary-emphasis;
}

.bg-secondary-emphasis {
    background-color: $secondary-emphasis;
}

.bg-replies {
    background-color: rgb(234, 230, 230);
}

.text-secondary {
    color: $secondary !important;
}

.text-primary{
    color: $primary !important;
}

.text-yellow {
    color: $yellow !important;
}

.btn-primary {
    background-color: $primary !important;
    border: 0;

    &:hover {
        background-color: $primary-emphasis !important;
    }
}

.btn-secondary {
    background-color: $secondary !important;
}

.card-body {
    padding: 0;
}

.nav-link-custom {
    text-decoration: none;
    color: inherit;
}