@import './variables.scss';


.navbar-brand img {
    width: 4em;
}

.navbar {
    border-bottom: 0.1em solid $primary-darker;
    z-index: 100;
}

.nav-link {
    font-size: 1.1rem;
    font-weight: 400;
    transition: background-color 0.5s;
    padding: 0.3em 0.8em;

    &.active {
        background-color: var(--primary-emphasis);
        border-radius: 2em;
        font-weight: 600;
    }

    &:hover {
        color: rgb(230, 228, 228) !important;
    }
}

// pulsante impara 
.impara {
    &:hover {
        background-color: $secondary;
        color: black !important;
        font-weight: 600;
    }
}

.dropdown-menu {
    &:active {
        background-color: $primary !important;
    }
}