.toTop {
    user-select: none;
    cursor: pointer;

    &:hover {
        animation: zoom-in 0.5s ease forwards; 
    }

    &:not(:hover) {
        animation: zoom-out 0.5s ease forwards; 
    }

    @keyframes zoom-in {
        0% {
            transform: scale(1);
        }
        
        100% {
            transform: scale(1.2);
        }
    }

    @keyframes zoom-out {
        0% {
            transform: scale(1.2);
        }
        
        100% {
            transform: scale(1);
        }
    }
}
