// Variabili colori 
$primary: #2596be;
$primary-darker: #1f7d9f;
$primary-emphasis: rgb(246, 47, 36); /*o così #ea99b2 DEVO SCEGLIERE*/
$primary-emphasis-2: #258db3;
$secondary: rgb(241, 238, 238);
$secondary-gray: rgb(161, 158, 158);
$secondary-emphasis: white;
$post_hover: rgb(224, 222, 222);
$post_replies_hover: rgb(216, 212, 212); 
$info: #fdd563;
$yellow: rgb(236, 236, 141);
